<div class="box-container">
  <h3 class="preguntas-title">PREGUNTAS</h3>
  <h4>Pilar {{ pilarActualIndex + 1 }}</h4>
  <div class="preguntas-list-container">
    <div
      *ngFor="let pregunta of obtenerPreguntasDelPilarActual()"
      class="question-container"
    >
      <div [ngSwitch]="pregunta.preTipId">
        <!-- Pregunta abierta -->
        <div *ngSwitchCase="3">
          <label class="question-label">{{ pregunta.prePregunta }}</label>
          <input
            type="text"
            class="question-input"
            (input)="onRespuestaTextoCambiado(pregunta, $event)"
            [(ngModel)]="pregunta.contestaciones[0].corValor"
          />
        </div>

        <!-- Selección única -->
        <div *ngSwitchCase="4">
          <label class="question-label">{{ pregunta.prePregunta }}</label>
          <div *ngFor="let respuesta of pregunta.respuesta">
            <input
              type="radio"
              [name]="pregunta.preId"
              class="question-radio"
              [checked]="respuesta.seleccionado"
              (change)="onRespuestaSeleccionada(pregunta, respuesta)"
            />
            <label class="question-radio-label"
              >{{ respuesta.resValor }} a:
              {{ respuesta.resValorEvaluacion }}</label
            >
          </div>
        </div>

        <!-- Selección múltiple -->
        <div *ngSwitchCase="5">
          <label class="question-label">{{ pregunta.prePregunta }}</label>
          <div *ngFor="let respuesta of pregunta.respuesta">
            <input
              type="checkbox"
              class="question-checkbox"
              (change)="onCheckboxRespuestaSeleccionada(pregunta, respuesta)"
              [checked]="respuesta.seleccionado"
            />
            <label class="question-checkbox-label">
              {{ respuesta.resValor }} a: {{ respuesta.resValorEvaluacion }}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-buttons">
      <button class="nav-button" (click)="irAPilarAnterior()">Anterior</button>
      <button class="nav-button" (click)="irAPilarSiguiente()">
        Siguiente
      </button>
      
    </div>
    <br><br>
    <div class="nav-buttons boton-reporte">
      <button class="nav-button" (click)="direccionar()">Reporte</button>
    </div>
  </div>


</div>
